body {
    margin: 0;
    line-height: 1.6;
    background: url('static/uran/bg.png') no-repeat;
    background-size: cover;
    overflow-x: hidden;
	background-attachment: fixed;
}

@font-face {
	font-family: GothamM;
	src: url('static/uran/ttf/ofont.ru_Gotham\ Pro.ttf');
}
@font-face {
	font-family: GothamR;
	src: url('static/uran/ttf/14078.ttf');
}
@font-face {
	font-family: Tektur;
	src: url("static/uran/ttf/Tektur-Regular.ttf");
  }
  
.menu {
	background-color: #1D1F20;
	position: absolute;
	z-index: 20;
	top: 0;
	bottom: 0;
	right: 0;
}
.slide_menu {
	width: 325px;
	min-height: 100vh;
	transition: 0.4s;
	opacity: 0;
	transform-origin: right;
	transform: scaleX(0);
}
.nav_menu {
	max-width: 260px;
	padding: 0;
	margin: 130px 25px;
   list-style: none;
}
li {
	display: list-item;
   text-align: -webkit-match-parent;
}
.menu_link_btn, .menu_link{
	font-size: 20px;
	font-family: GothamM;
	color: white;
	text-decoration: none;
	letter-spacing: 2px;
}
.menu_link {
	margin: 15px;
	display: block;
}
.menu_link:hover, .menu_link_btn:hover{
	color: #ecdf89;
	text-shadow: 0 0 2px #fdee8e;
}

.link_planet{
	font-size: 20px;
	font-family: GothamM;
	color: white;
	text-decoration: none;
	letter-spacing: 2px;
	margin: 0 35px;
	display: block;
}
.link_planet:hover{
	color: #ecdf89;
	text-shadow: 0 0 2px #fdee8e;
}
.planet_list{
	transform: scaleY(0);
	transition: 0.2s;
	position: absolute;
	transform-origin: top;
}
.planet_list_active{
	transform: scaleY(1);
	position: static;
}
.arrow{
	height: 16px;
	margin-right: 4px;
	margin-bottom: -1px;
	transition: 0.2s;
}
.arrow_active{
	transform: rotate(90deg);
}

.slide_menu_active {
	transform: scaleX(1);
	opacity: 1;
}
.poloska1, .poloska2, .poloska3{
	position: absolute;
	background-color: white;
	transform: rotate(-26deg) scaleX(0);
	z-index: 20;
	transition: 0.2s;
	transform-origin: right;
}
.poloska1{
	width: 350px;
	height: 3px;
	bottom: 21.5vh;
	right: 8vw;
}
.poloska2{
	width: 430px;
	height: 7px;
	bottom: 35vh;
	right: -3vw;
}
.poloska3{
	width: 230px;
	height: 5px;
	bottom: 29.5vh;
	right: -3vw;
}
.poloska_active{
	transform: rotate(-26deg) scaleX(1);
	transition: 0.2s;
	transform-origin: right;
}
.poloska_act{
	transform: rotate(-26deg) scaleX(0);
}

header {
	width: 85vw;
	margin: 0 auto;
	height: 20vh;
}
.header_inner {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.logo{
	margin: 20px;
}
.menu_btn {
	margin-top: 70px;
	margin-right: 20px;
	width: 56px;
	height: 36px;
	display: block;
	position: relative;
	z-index: 20;
}
.menu_btn span,
.menu_btn span::before,
.menu_btn span::after{
	position: absolute;
	top: 50%; margin-top: -2px;
	width: 56px;
	height: 4px;
	background-color: white;
}
.menu_btn span::before,
.menu_btn span::after{
	content: '';
	display: block;
	transition: 0.4s;
}
.menu_btn span::before{
	transform: translateY(12px);
}
.menu_btn span::after{
	transform: translateY(-12px);
}
.menu_btn_active span{
	height: 0;
}
.menu_btn_active span:before{
	transform: rotate(45deg);
	height: 3px;
	width: 50px;
}
.menu_btn_active span:after{
	transform: rotate(-45deg);
	height: 3px;
	width: 50px;
}
.menu_btn_active {
	transform: translate(100px);
}

.universe {
	max-width: 1000px;
	max-height: 700px;
	perspective-origin: 40% 50%;
	perspective: 700px;
	margin: auto 0;
	position: absolute;
	z-index: 2;
	right: 0;
}
.solar_system {
	width: 950px;
	height: 400px;
	transform-style: preserve-3d;
}
.solar_system .sun {
	top: calc(45% - 90px / 2);
	left: calc(45% - 90px / 2);
	height: 90px;
	width: 90px;
	border-radius: 50%;
	position: absolute;
	z-index: 1;
	transform-style: preserve-3d;
	box-shadow: 0px 0px 35px rgb(253, 239, 40);
}
.solar_system .sun::before {
	content: "";
	display: block;
	height: 90px;
	width: 90px;
	border-radius: 50%;
	background-image: url("images/sun.png");
	background-size: cover;
}
.mercury, .venus, .earth, .mars, .jupiter, .saturn, .uranus, .neptun{
	position: absolute;
	z-index: 2;
	border-radius: 50%;
	border: 1.5px solid rgba(230, 230, 230, 0.6);
	transform: rotateX(70deg) rotateY(-20deg) rotateZ(0deg);
	transform-style: preserve-3d;
}
.mercury {
	top: calc(45% - 130px/ 2);
	left: calc(45% - 130px/ 2);
	width: 130px;
	height: 130px;
	animation: planet 5s linear 0.3s infinite;
}
.venus {
	top: calc(45% - 230px/ 2);
	left: calc(45% - 230px/ 2);
	width: 230px;
	height: 230px;
	animation: planet 7s linear 0.3s infinite;
}
.earth {
	top: calc(45% - 330px/ 2);
	left: calc(45% - 330px/ 2);
	width: 330px;
	height: 330px;
	animation: planet 12s linear 0.3s infinite;
}
.mars {
	top: calc(45% - 425px/ 2);
	left: calc(45% - 425px/ 2);
	width: 425px;
	height: 425px;
	animation: planet 9.5s linear 0.3s infinite;
}
.jupiter {
	top: calc(45% - 515px/ 2);
	left: calc(45% - 515px/ 2);
	width: 515px;
	height: 515px;
	animation: planet 15s linear 0.3s infinite;
}
.saturn {
	top: calc(45% - 605px/ 2);
	left: calc(45% - 605px/ 2);
	width: 605px;
	height: 605px;
	animation: planet 11s linear 0.3s infinite;
}
.uranus {
	top: calc(45% - 705px/ 2);
	left: calc(45% - 705px/ 2);
	width: 705px;
	height: 705px;
	animation: planet 18s linear 0.3s infinite;
}
.neptun {
	top: calc(45% - 785px/ 2);
	left: calc(45% - 785px/ 2);
	width: 785px;
	height: 785px;
	animation: planet 25s linear 0.3s infinite;
}
.mercury::after, .venus::after, .earth::after, .mars::after, .jupiter::after, .saturn::after, .uranus::after, .neptun::after{
	display: block;
	content: "";
	border-radius: 50%;
	margin: 0 auto;
	margin-top: -5px;
}
.mercury::after {
	width: 19px;
	height: 19px;
	animation: mercury-invert 5s linear 0.3s infinite;
	background: url("images/меркурий.png") no-repeat;
	background-size: cover;
}
.venus::after {
	width: 32px;
	height: 32px;
	animation: venus-invert 7s linear 0.3s infinite;
	background: url("images/венера3.png") no-repeat;
	background-size: cover;
}
.earth::after {
	width: 37px;
	height: 37px;
	animation: earth-invert 12s linear 0.3s infinite;
	background: url("images/земля.png") no-repeat;
	background-size: cover;
}
.mars::after {
	width: 26px;
	height: 26px;
	animation: mars-invert 9.5s linear 0.3s infinite;
	background: url("images/марс2.png") no-repeat;
	background-size: cover;
}
.jupiter::after {
	width: 55px;
	height: 56px;
	animation: jupiter-invert 15s linear 0.3s infinite;
	background: url("images/юпитер.png") no-repeat;
	background-size: cover;
}
.saturn::after {
	width: 45px;
	height: 45px;
	animation: saturn-invert 11s linear 0.3s infinite;
	background: url("images/uran.png") no-repeat;
	background-size: cover;
}
.uranus::after {
	width: 43px;
	height: 43px;
	animation: uranus-invert 18s linear 0.3s infinite;
	background: url("images/уран.png") no-repeat;
	background-size: cover;
}
.neptun::after {
	width: 47px;
	height: 47px;
	animation: neptun-invert 25s linear 0.3s infinite;
	background: url('images/neptun.png') no-repeat;
	background-size: cover;
}
@keyframes planet {
0% {transform: rotateX(70deg) rotateY(-20deg) rotateZ(360deg);}
100% {transform: rotateX(70deg) rotateY(-20deg) rotateZ(0deg);}
}
@keyframes mercury-invert {
	0% { transform: rotateX(75deg) rotateY(0deg);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.7) inset;}
	30% {box-shadow: 7px 2px 7px rgba(0, 0, 0, 0.7) inset;}
	55% {box-shadow: 17px 17px 25px rgba(0, 0, 0, 0.7) inset;}
	55.1% {box-shadow: -22px 17px 25px rgba(0, 0, 0, 0.7) inset;}
	70% {box-shadow: -14px 2px 7px rgba(0, 0, 0, 0.7) inset;}
	100% { transform: rotateX(75deg) rotateY(360deg);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.7) inset;}
}
@keyframes venus-invert {
	0% { transform: rotateX(75deg) rotateY(0deg);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.7) inset;}
	30% {box-shadow: 16px 5px 16px rgba(0, 0, 0, 0.7) inset;}
	55% {box-shadow: 25px 25px 55px rgba(0, 0, 0, 0.7) inset;}
	55.1% {box-shadow: -30px 25px 55px rgba(0, 0, 0, 0.7) inset;}
	70% {box-shadow: -21px 5px 16px rgba(0, 0, 0, 0.7) inset;}
	100% { transform: rotateX(75deg) rotateY(360deg);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.7) inset;}
}
@keyframes earth-invert {
	0% { transform: rotateX(80deg) rotateY(0deg);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.7) inset;}
	30% {box-shadow: 19px 6px 19px rgba(0, 0, 0, 0.7) inset;}
	55% {box-shadow: 35px 35px 60px rgba(0, 0, 0, 0.7) inset;}
	55.1% {box-shadow: -40px 35px 60px rgba(0, 0, 0, 0.7) inset;}
	70% {box-shadow: -24px 7px 19px rgba(0, 0, 0, 0.7) inset;}
	100% { transform: rotateX(80deg) rotateY(360deg);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.7) inset;}
}
@keyframes mars-invert {
	0% { transform: rotateX(80deg) rotateY(0deg);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.7) inset;}
	30% {box-shadow: 13px 3px 13px rgba(0, 0, 0, 0.7) inset;}
	55% {box-shadow: 22px 22px 35px rgba(0, 0, 0, 0.7) inset;}
	55.1% {box-shadow: -25px 22px 35px rgba(0, 0, 0, 0.7) inset;}
	70% {box-shadow: -18px 3px 13px brgba(0, 0, 0, 0.7) inset;}
	100% { transform: rotateX(80deg) rotateY(360deg);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.7) inset;}
}
@keyframes jupiter-invert {
	0% { transform: rotateX(85deg) rotateY(0deg);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.75) inset;}
	30% {box-shadow: 28px 12px 28px rgba(0, 0, 0, 0.75) inset;}
	55% {box-shadow: 70px 60px 75px rgba(0, 0, 0, 0.75) inset;}
	55.1% {box-shadow: -75px 60px 75px rgba(0, 0, 0, 0.75) inset;}
	70% {box-shadow: -35px 12px 28px rgba(0, 0, 0, 0.75) inset;}
	100% { transform: rotateX(85deg) rotateY(360deg);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.75) inset;}
}
@keyframes saturn-invert {
	0% { transform: rotateX(85deg) rotateY(0deg);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.75) inset;}
	30% {box-shadow: 20px 9px 20px rgba(0, 0, 0, 0.75) inset;}
	55% {box-shadow: 60px 60px 55px rgba(0, 0, 0, 0.75) inset;}
	55.1% {box-shadow: -60px 60px 55px rgba(0, 0, 0, 0.75) inset;}
	70% {box-shadow: -35px 20px 20px rgba(0, 0, 0, 0.75) inset;}
	100% { transform: rotateX(85deg) rotateY(360deg);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.75) inset;}
}
@keyframes uranus-invert {
	0% { transform: rotateX(85deg) rotateY(0deg);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8) inset;}
	30% {box-shadow: 16px 5px 16px rgba(0, 0, 0, 0.8) inset;}
	55% {box-shadow: 45px 55px 55px rgba(0, 0, 0, 0.8) inset;}
	55.1% {box-shadow: -52px 55px 55px rgba(0, 0, 0, 0.8) inset;}
	70% {box-shadow: -21px 5px 16px rgba(0, 0, 0, 0.8) inset;}
	100% { transform: rotateX(85deg) rotateY(360deg);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8) inset;}
}
@keyframes neptun-invert {
	0% { transform: rotateX(85deg) rotateY(0deg);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8) inset;}
	30% {box-shadow: 14px 3px 14px rgba(0, 0, 0, 0.8) inset;}
	55% {box-shadow: 50px 50px 45px rgba(0, 0, 0, 0.8) inset;}
	55.1% {box-shadow: -50px 50px 45px rgba(0, 0, 0, 0.8) inset;}
	70% {box-shadow: -20px 3px 14px rgba(0, 0, 0, 0.8) inset;}
	100% { transform: rotateX(85deg) rotateY(360deg);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8) inset;}
}


.content{
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.text {
	width: 800px;
	margin-left: 140px;
	display: flex;
	flex-direction: column;	
	z-index: 5;
}
.title {
	font-family: Tektur;
	font-size: 58px;
	color: #ecdf89;
	text-transform: uppercase;
	text-shadow: 0px 0px 5px #fde85f;
	margin-bottom: 50px;
}
.subtitle {
	font-family: GothamR;
	font-size: 28px;
	color: white;
	text-transform: uppercase;
	text-shadow: 0px 10px 15px black;
}
.button {
	max-width: 405px;
	margin: 0 auto;
	justify-self: flex-end;
	z-index: 5;
}
.btn {
	text-transform: uppercase;
	text-decoration: none;
	font-family: GothamM;
	color: #ffe852;
	font-size: 28px;
	letter-spacing: 8px;
	text-shadow: 0px 0px 5px black;
	border: 3px solid white;
	border-radius: 10px;
	padding: 10px 12px 10px 22px;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: 0.2s;
}
.btn:hover{
	transform: scale(1.1);
	text-shadow: 0px 0px 7px #fdee8e;
}
.meteor{
	width: 75vw;
	height: 95vh;
	right: 0;
	bottom: 0;
	position: absolute;
	z-index: 3;
	background: url('images/meteo.png');
	background-size: cover;
}

@media (max-width: 1450px){
	body{
		background-size: auto;
	}
	header{
		width: 90vw;
	}
	.logo{
		transform: scale(0.9);
	}
	.menu_btn{
		transform: scale(0.9);
		margin: 0;
		align-self: center;
		margin-right: 20px;
	}
	.nav_menu{
		margin: 100px 25px;
	}
	.menu_link{
		margin: 10px 15px;
	}
	.poloska1{
		bottom: 25vh;
	}
	.text{
		margin-left: 100px;
	}
}

@media (max-width: 900px) {
	header{
		height: 15vh;
		justify-content: center;
		align-content: center;
	}
	.logo img{
		width: 200px;
	}
	.logo{
		margin: 10px 0;
	}
	.menu_btn{
		transform: scale(0.8);
		margin: 0;
		align-self: center;
		margin-right: 20px;
	}
	.nav_menu{
		margin: 100px 25px;
	}
	.menu_link{
		font-size: 18px;
		margin: 9px 15px;
	}
	.menu_link_btn, .link_planet{
		font-size: 17px;
	}
	.poloska1{
		right: 13vw;
	}
	.text{
		margin-left: 50px;
		width: 70%;
	}
	.title{
		font-size: 35px;
	}
	.subtitle{
		font-size: 23px;
	}
	.btn{
		font-size: 18px;
	}
	.universe{
		right: -450px;
		overflow: hidden;
	}
	.solar_system{
		height: 600px;
	}
	.button{
		transform: scale(0.7);
	}
}

@media (max-width: 600px) {
	header{
		justify-content: center;
		align-content: center;
	}
	.logo img{
		width: 170px;
	}
	.logo{
		margin: 10px 0;
	}
	.menu_btn{
		transform: scale(0.7);
		margin: 0;
		align-self: center;
		margin-right: 10px;
	}
	.nav_menu{
		margin: 80px 25px;
	}
	.menu_link{
		font-size: 16px;
		margin: 4px 15px;
	}
	.menu_link_btn, .link_planet{
		font-size: 16px;
	}
	.poloska1{
		right: 20vw;
	}
	.text{
		margin: 10px;
		width: 100%;
	}
	.title{
		margin-right: 10px;
		font-size: 25px;
	}
	.subtitle{
		font-size: 13px;
	}
	.btn{
		font-size: 18px;
	}
	.universe{
		right: -450px;
		overflow: hidden;
	}
	.button{
		transform: scale(0.7);
	}
}

/*///////////////////////////////////////////////*/

/*///////////////////////////////////////////////*/

/*///////////////////////////////////////////////*/

.tour-title {
	text-align: center;
	color: #f8c2fd;
	text-transform: uppercase;
	margin-bottom: 100px;

}
.fact {
	transition: 2s;
	cursor: pointer;
}
.fact:hover {
	transform: translate(5%);
}
.tour-title h2 {
	margin: 0;
	font-size: 58px;
	font-family: GothamM;
	letter-spacing: 10px;
	transition: 0.4s;
}
.tour-title h2:hover {
	font-size: 68px;
	cursor: pointer;
}
.container {
	margin: 0 auto;
	max-width: 1460px;
}
.description {
	color: white;
	font-size: 23px;
	width: 55vw;
	margin-bottom: 170px;
	font-family: Montserrat;
}
.footer-description {
	color: white;
	font-size: 23px;
	margin-bottom: 120px;
	font-family: Montserrat;
	text-align: center;
}
.border {
	display: flex;
	justify-content: space-between;
	width: 35vw;
	margin-left: auto;
    margin-right: auto;
	margin-bottom: 125px;
}
.circle {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: #ba91c0;
}

.info-title {
	text-align: center;
	color: white;
	margin-bottom: 80px;
}
.info-title h3 {
	font-size: 40px;
	font-family: GothamR;
	letter-spacing: 10px;
}
.section-1 .description {
	width: 50vw;
}
.section-2 .description {
	width: 40vw;
}
.section-1{
	display: flex;
}
.planet-img {
	width: 50vw;
	text-align: center;
	
}

.section-2{
	display: flex;
}
.planet-img-2 img {
	width: 500px;
	height: 500px;
	margin-right: 200px;
}


@media (max-width: 1500px) {
	.container {
		margin: 0 auto;
		max-width: 1150px;
	}
	.section-1 .description {
		width: 100%;
		text-align: justify;
		margin-bottom: 0;
	}
	.section-2 .description {
		width: 100%;
		text-align: justify;
		margin-bottom: 0;
	}
	.section-1{
		flex-direction: column;
	}
	.planet-img {
		width: 100%;
		text-align: center;
	}
	.planet-img-2{
		width: 100%;
		text-align: center;
		
	}
	.section-2{
		flex-direction: column-reverse;
	}
	.planet-img-2 img {
		width: 400px;
		height: 400px;
		margin-right: 0px;
	}
	.planet-img {
		width: 100%;
		text-align: center;
	}
}

@media (max-width: 1300px) {
	.container {
		margin: 0 auto;
		max-width: 900px;
	}

	.description {
		width: 60vw;
	}

	.planet-img img {
		width: 350px;
		height: 350px;
	}
	.planet-img-2 img {
		width: 350px;
		height: 350px;
		margin-right: 0px;
	}
}

@media (max-width: 1450px) {
	.container {
		margin: 0 auto;
		max-width: 1000px;
	}

	.description {
		text-align: justify;
		width: 60vw;
	}

	.planet-img img {
		width: 350px;
		height: 350px;
	}
	.planet-img-2 img {
		width: 350px;
		height: 350px;
		margin-right: 0px;
	}
	.planet-img {
		width: 100%;
		text-align: center;
	}
	.planet-img-2 {
		width: 100%;
		text-align: center;
	}
}
@media (max-width: 1200px) {
	.description {
		width: 70vw;
	}
}
@media (max-width: 1050px) {
	.container {
		margin: 0 auto;
		max-width: 800px;
	}

	.description {
		width: 100%;
		text-align: justify;
	}

	.planet-img-2 img {
		width: 350px;
		height: 300px;
		margin-right: 0px;
	}
	.planet-img-2 {
		width: 100%;
		text-align: center;
	}
	.planet-img img {
		width: 300px;
		height: 300px;
	}
}
@media (max-width: 800px) {
	.container {
		margin: 0 auto;
		max-width: 520px;
	}

	.border {
		width: 50vw;
	}
	.description, .footer-description {
		width: 100%;
		text-align: justify;
		margin: 0;
	}
	.description p, .footer-description p{
		font-size: 20px;
	}
	.tour-title h2 {
		margin: 0;
		font-size: 40px;
		font-family: GothamM;
		letter-spacing: 5px;
	}
	.tour-title {
		margin-bottom: 50px;
	}
	.info-title h3 {
		font-size: 30px;
	}
	.planet-img-2 {
		width: 100%;
		text-align: center;
	}

	.planet-img-2 img {
		width: 230px;
		height: 230px;
		margin-right: 0px;
	}
	.planet-img img {
		width: 230px;
		height: 230px;
	}
}

@media (max-width: 600px) {
	.container {
		margin: 0 auto;
		max-width: 400px;
	}

	.border {
		width: 50vw;
	}
	.description, .footer-description {
		width: 100%;
		text-align: justify;
		margin: 0;
	}
	.description p, .footer-description p{
		font-size: 20px;
	}
	.tour-title h2 {
		margin: 0;
		font-size: 40px;
		font-family: GothamM;
		letter-spacing: 5px;
	}
	.tour-title {
		margin-bottom: 50px;
	}
	.info-title h3 {
		font-size: 30px;
	}
	.planet-img-2 img {
		width: 180px;
		height: 180px;
		margin-right: 0px;
	}
	.planet-img img {
		width: 180px;
		height: 180px;
	}
	.planet-img-2 {
		width: 100%;
		text-align: center;
	}
}

@media (max-width: 450px) {
	.container {
		margin: 0 auto;
		max-width: 300px;
	}

	.border {
		width: 50vw;
	}
	.description, .footer-description {
		width: 100%;
		text-align: justify;
		margin:0;
	}
	.description p, .footer-description p{
		font-size: 18px;
	}
	.tour-title h2 {
		margin: 0;
		font-size: 40px;
		font-family: GothamM;
		letter-spacing: 5px;
	}
	.tour-title {
		margin-bottom: 50px;
	}
	.info-title h3 {
		font-size: 30px;
	}
	.planet-img-2 {
		width: 100%;
		text-align: center;
	}

	.planet-img-2 img {
		width: 150px;
		height: 150px;
		margin-right: 0px;
	}
	.planet-img img {
		width: 150px;
		height: 150px;
	}
	.button a{
		font-size: 24px;
		letter-spacing: 6px;
	}
}

.button {
	max-width: 405px;
	margin: 0 auto;
	margin-bottom: 30px;
	justify-self: flex-end;
	z-index: 5;
	}

.btn {
	text-transform: uppercase;
	text-decoration: none;
	font-family: Gotham Pro;
	color: #f8c2fd;
	font-size: 28px;
	letter-spacing: 8px;
	text-shadow: 0px 0px 5px black;
	border: 3px solid white;
	border-radius: 10px;
	padding: 10px 12px 10px 22px;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: 0.2s;
}

.btn:hover {
	color: #ecdf89;
	text-shadow: 0 0 2px #fdee8e;

}
